@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

/* 1 */
body {
    font-family: "Roboto Regular";
    background: url(../images/background.jpg) center no-repeat;
    background-size: cover
}

/* 1 */
input {
    font-family: "Roboto Regular";
    font-weight: 400;
    font-size: 1rem;
} 

select {
    font-family: "Roboto Regular";
    font-weight: 400;
    font-size: 1rem;
    width: 100%;
    padding: 8px 1%;
    margin-bottom: 10px;
    border: solid 2px #eeeeee;
    background: rgba(0, 0, 0, .025);
    border-radius: 6px;
    color: #333;
}

/* 10 */
.wrapper--home {
    background: rgb(255, 255, 255);
}
/* -----------------header ----------------------------*/
/* 10 */
.header {
    display: flex;
    margin: 0 auto;
    padding: 20px 10%;
}

/* 10 */
.logo-wrap {
    display: flex;
    align-items: flex-end;
    width: 18%;
    padding: 0 1.5%;
}

/* 11 */
.logo-wrap img {
    width: 100%;
}

/* 10 */
.main {
    margin: 0 auto;
    padding: 0 10%;
}

/* 10 */
.menu-wrap{
    width: 100%;
}

/* 10 */
.menu-wrap__heading--home {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: 600;
    color: #1445a1;
}

/* 10 */
.menu-wrap__heading {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
}

/* 11 */
.menu-wrap ul {
    display: flex;
    align-items: center;
}

/* 10 */
.menu__item {
    padding: 0 1%;
    text-decoration: none;
}

/* 10 */
.menu__link--home {
    font-weight: 600;
    color: #030303;
    text-decoration: none;
    text-transform: uppercase;
}

/* 10 */
.menu__link {
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

/* 20 */
.menu__link:hover {
    font-weight: 600;
    color: #1445a1;
    text-decoration: underline;
}
/* ---------------------------------------------------------*/

/* -----------------main home ----------------------------*/
/* 10 */
.main--home {
    margin: 0 auto;
    padding: 0 10%;
}

/* 10 */
.main {
    width: 28%;
    margin: 60px auto;
    background-color: #fff;
    padding: 40px 3%;
    border-radius: 6px;
}

/* 10 */
.main-search {
    width: 88%;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 30px 2%;
    border-radius: 6px;
}

/* 10 */
.info__item {
    margin: 20px 0;
}

/* 10 */
.info__heading {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: #1445a1;
}

.info__heading--spesial {
    text-align: right;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: #1445a1;
}

/* 10 */
.info__text {
    display: flex;
    text-align: justify;
    line-height: 2rem;
}

.info__text--spesial {
    display: flex;
    justify-content: flex-end;
    text-align: justify;
    line-height: 2rem;
}

.info__picture {
    width: 35%;
}
/* 11 */
.info__picture img {
    width: 100%

}

/* 10 */
.products-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

/* 10 */
.products-wrap__item {
    padding: 8px;
    text-align: center;
}

/* 11 */
.products-wrap__item img {
    width: 185px;
    height: 120px;
}

/* 10 */
.info__detail{
    padding: 20px 2%;
    text-indent: 40px;
}

/* 10 */
.info__car {
    display: flex;
}

/* 10 */
.info__detail--special {
    color: green;
    font-size: 2rem;
}

/* 10 */
.more_details {
    padding: 10px 4%;
    margin-top: 15px;
    background: green;
    border-radius: 6px;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
}

/* 10 */
.products-wrap__btn {
    padding: 5px 10%;
    background: green;
    border-radius: 6px;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
}

/* 10 */
.description {
    margin-bottom: 10px;
}

/* 10 */
.description--special {
    color: green;
    font-size: 1rem;
}

/* 10 */
.fa-brands {
    color: black;
    font-size: 1.5rem;
}

/* -----------------------------------------------------*/
/* -----------------footer ----------------------------*/
/* 10 */
.footer {
    background: darkgray;
    line-height: 1.5rem;
    margin: 0 auto;
    padding: 20px 10%;
}

/* 10 */
.footer__row {
    display: flex;
    justify-content: space-between;
}

/* 10 */
.footer__item {
    color: #000000;
}

/* 10 */
.footer__heading {
    font-weight: 600;
}

/* 10 */
.footer__item a {    
    text-decoration: none;
    color: #000000;
}

/* 1 */
hr {
    border: none;
    background-color: #fdfdfd;
    height: 1px;
    margin: 10px 0;
}

/* 10 */
.footer__icon {
    text-align: center;
}

/* 11 */
.footer__icon a {
    padding: 0 0.2%;
}
/* -----------------------------------------------------*/
/* -----------------sign_in_up ----------------------------*/
/* 10 */
.form__heading,
.filter__heading {
    color: #1445a1;
    text-align: center;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
}

/* 10 */
.form-control {
    width: 100%;
    padding: 8px 1%;
    margin-bottom: 10px;
    border: solid 2px #eeeeee;
    background: rgba(0, 0, 0, .025);
    border-radius: 6px;
    color: #333;
}

/* 10 */
.form-control-chexbox {
    font-size: 0.9rem;
}

/* 11 */
.form-control-chexbox input {
    vertical-align: middle;
    margin-bottom: 4px;
    margin-left: 0.2%;
}

/* 10 */
.form-submit {
    width: 100%;
    padding: 8px 1%;
    margin-top: 15px;
    background: #1445a1;
    border-radius: 6px;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
}
/* -------------------------------------------------*/
/* -----------------search ----------------------------*/
/* 10 */
.filterform {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* 10 */
.filterform__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 10 */
.filterform__item {
    width: 33%;
}

/* 10 */
.filterform__item--spesial {
    display: flex;
    width: 33%;
}

/* 11 */
.price input {
    width: 48%;
    padding: 9px 1%;
    margin-bottom: 10px;
    border: solid 2px #eeeeee;
    border-radius: 6px;
    color: #000000;
}

/* 10 */
.currency {
    width: 70px;
}

/* 10 */
.filterform__item--fuel {
    width: 49%;
    margin-right: 0.2%;
}

/* 10 */
.filterform__item--transmission,
.year {
    width: 49%;
}

/* 20 */
.year:first-child {
    margin-right: 1%;
}

/* 10 */
.filterform__item--comfort {
    width: 33%;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* 10 */
.filterform__item--comfort label {
    margin-left: 0.2%;
}

/* 10 */
.filterform-color {
    width: 75%;
    margin-right: 1%;
}

/* 10 */
.find-reset {
    width: 100px;
    padding: 8px 1%;
    margin-top: 15px;
    background: #676c75;
    border-radius: 6px;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
}

/* 10 */
.find-submit {
    width: 100px;
    padding: 8px 1%;
    margin-top: 15px;
    background: #1445a1;
    border-radius: 6px;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
}

/* 10 */
.filterform-coating {
    padding-top: 5px;
}

/* 10 */
.fa-solid,
.fa-cloudscale {
    color: green;
    font-size: 1.5rem;
}